body{
    font-family: "Montserrat", serif;
    margin:0;
    background-color: black;
    color: white;
    overflow: hidden;
     
}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}
.sidebar{
    background-color:black;
    width:340px;
    border-radius: 1rem; /* 16px*/
    margin-right: 0.65rem;
}
.main_content{
    background-color:#121212;
    flex:1;
    border-radius: 1rem;
    overflow: auto;
    padding:0 1.5rem 0 1.5rem;
}
.music_player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}
a{
    text-decoration: none;
    color:white;
}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
    font-weight:600;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding:0.5rem 0.75rem; 
}
.options{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.lib-option img{
    height: 1.25rem;
    width:1.25rem
}
.icons{
    font-size: 1.3rem;
    display: flex;
}
.icons i{
    opacity: 0.7;
    margin-right: 1.2rem;
}
.icons:hover{
    opacity: 1;
}
.box{
    height:8rem;
    background-color: #232323;
    border-radius: 0.6rem;
    margin: 1.75rem 0 1.75rem 0;
    padding: 0.5rem 1rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 600;
}
.box-p2{
    font-size: 0.85rem;
    opacity: 0.9;
}
.badge{
    background-color: white;
    border: none;
    border-radius: 1rem;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width:fit-content;
}
.dark-badge{
    background-color: #000;
    color: white;
}
.sticky-nav{
    position: sticky;
    top:0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}
.sticky-nav-icons{
    margin-left:0.75rem;

}
.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item{
    margin-right:1rem;
}

@media (max-width:1000px){
    .hide{
        display: none;
    }
}

.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
}
.card:hover{
    background-color: #3b3a3a;
    transition: 50ms;
}
.card-img{
    width:100%;
    border-radius: 0.5rem;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
}
.card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.85rem;
    opacity: 0.8;
}
.footer{
    height:250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 90%;
    height:50%;
    border-top: 1px solid white;
    opacity: 0.4;

}
.music_player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.album{
    width:25%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* background-color: aqua; */
}
.album-pic img{
    width: 55px;
    height:55px;
    margin: 1rem;
}
.album-song{
    align-items: center;
}
.album-song h5{
    margin-top: 1.75rem;
    margin-bottom: 0rem;
    cursor: pointer;
}
.album-song h5:hover{
    text-decoration: underline;
    font-weight:bold;
}
.album-song p{
    margin-top: 0;
    font-size: small;
    opacity: 0.8;
    cursor: pointer;
}
.album-song p:hover{
    text-decoration: underline;
    opacity: 1;
}
.album-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.2rem;
    cursor: pointer;
}
.album-icon img{
    height:2rem;
    width:2rem;
    margin-left: 0.75rem;
}
.album-icon i{
    opacity: 0.7;
}
.album-icon i:hover{
    opacity: 1;
    font-size: large;
}
.player{
    width:50%;
}

.player-control{
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-control-icon{
    height:1rem;
    margin-right: 1.7rem;
    opacity: 0.7;
}
.player-control-icon:hover{
    opacity: 1;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;

}
.progress-bar::-webkit-slider-runnable-track{
    border-radius: 100px;
    background-color: white;
    height: 0.15rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance:none;
    height:1rem;
    width:1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -0.5rem;
}

.control{
    width:25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.control-icon{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.control-icons{
    height: 2.5rem;
    margin-right: 1rem;
}
.volume{
    display: flex;
    align-items: center;
    justify-content: left;
    opacity: 0.8;
}
.volume:hover{
    opacity: 1;
}
.volume-bar{
    width: 60%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 0.5rem;

}
.volume-bar::-webkit-slider-runnable-track{
    border-radius: 100px;
    background-color: white;
    height: 0.15rem;
}
.volume-bar::-webkit-slider-thumb{
    appearance:none;
    height:1rem;
    width:1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -0.5rem;
}
.extra-icon{
    margin-right: 2rem;
    opacity: 0.8;
}

